<p id="notice"><%= notice %></p>
<h1>INFORMACIÓN GENERAL DEL PROCESO</h1>

<p>
  <strong>Numero:</strong>
  <%= @proceso.numero %>
</p>

<p>
  <strong>Palabra Clave:</strong>
  <%= @proceso.palabraclave %>
</p>

<p>
  <strong>Objeto:</strong>
  <%= @proceso.objeto %>
</p>
<p>
  <% @etapas.each do |etapa| %>
    <li>
      <%= link_to etapa.nombre, modalidad_proceso_etapa_path(@modalidad,@proceso,etapa) %>
    </li>
  <% end %>
</p>

<%= link_to 'Volver al listado de procesos', modalidad_procesos_path(@modalidad) %>
